---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SectionOne from '../components/SectionOne.astro';
import SectionTwo from '../components/SectionTwo.astro';
import Showcase from '../components/Showcase.astro';
import '../style/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Insure Landing Page</title>
    </head>
    <body>
        <Header />
        <Showcase />
        <SectionOne />
        <SectionTwo />
        <Footer />
        <script src="../scripts/main.ts"></script>
    </body>
</html>
